.forgot-password-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    
    padding: 16px;
  
    .container {
      background: #fff;
      padding: 40px 32px;
      max-width: 475px;
      width: 100%;
      border-radius: 8px;
     
      text-align: center;
  
      .brand {
        .logo-text {
          font-size: 28px;
          font-weight: 700;
          color: #8b5cf6;
          span {
            color: #000;
          }
        }
      }
  
      h2 {
        font-family: Inter;
        font-weight: 700;
        font-size: 30px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        color: #1E1E1E;        
        
      }
  
      .forgot-form {
        margin-top: 24px;
        text-align: left;
      }
     
    }
  }
